/* pseduo selectors */

:root {
    --main-color: #18122B;
    --secondary-color: #393053;
    --third-color: #443C68;
    --attention-color: #EDED00;
    --black-color: #000;

}

/* for all the elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for the container */
.container {
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    overflow: hidden;
}



body {
    font-family: 'Open Sans', sans-serif;
}

/* for anchor links of the navbar */
.anchor-nav-links {
    font-weight: bold;
    text-decoration: none;
    margin-right: 2rem;
    padding: 5px;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

/* for navlinks elements */
.li-nav {
    list-style-type: none;
}

/* for header */
#head {
    margin-bottom: 1rem;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

/* for anchor lists */
.lists {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
}

/* for the image */
.logo {

    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 100px;
    height: auto;
    position: relative;
    top: 10px;
    text-align: left;
 
}

/* for the animation of the navbar links*/
.anchor-nav-links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--third-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.anchor-nav-links:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* end of animation feature */

/* start of home section */
#visualizingSection {
    /* border: 2px solid palevioletred; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

#home-section {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex: 1; */
    /* border: 3px solid red; */

}


.sidebar-toggle {
    display: flex;
    visibility: hidden;
    align-items: center;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    color: white;
}

.close-btn {
    font-size: 1.2rem;
    background: transparent;
    border-color: transparent;
    color: rgb(212, 255, 0);
    cursor: pointer;
}

.close-btn:hover {
    color: white;
    transform: rotate(360deg);
}

.nav-list a {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: white;
    transition: 0.2s ease-in-out;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--third-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transform: translate(-100%);
}

.show-sidebar {
    transform: translate(0);
    width: 400px;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    flex-basis: 50%;
}

.description {
    text-align: left;
    height: 50%;
    padding: 2em;
    /* border: 2px solid white; */
}


.title-bibek {
    font-size: 1rem;
}

.change-profession {
    font-size: 1.8rem;
}

.innovate {
    font-size: 1.8rem;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s ease;
}

.underline:hover::before {
    width: 100%;
}

/* for buttons */
.btn-container {
  
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}

.hire {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    outline: none;
    background: var(--attention-color);
    margin-right: 1rem;
}



/* end of the sidebar */

/* hire button hover effects */
.hire:hover {
    -webkit-animation: hire 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: hire 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes hire {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
        box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}

@keyframes hire {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
        box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
    }
}

/* endof hover effects */
.CV {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    outline: none;
    color: white;
    background: var(--main-color);
}

/*  cv button hover effects */
.CV:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease-in;
}

/* start of the about section */
#about-section {
    font-size: 14px;
    text-align: center;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.working-image {
    display: flex;
    justify-content: center;
    padding-left: 3em;
    width: 60%;
}

.des-about-me {
    display: flex;
    justify-content: space-around;
    padding: 1em 1em 1em 7.5em;
    margin-bottom: 1rem;
    /* text-align: left; */

}

#visual {
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.about-me {
    padding-bottom: 3rem;
}

.set-of-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    font-size: 12px;
    margin-bottom: 1em;
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-right: 2em;
}

/* input type range stylying */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background-color: var(--third-color);
    border-radius: 10px;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    /* background-color: #f00; */
    border-radius: 50%;
    cursor: pointer;
}


/* end of range styling */

/* projects section */

.cards {
    display: grid;
    column-gap: 30px;
    padding: 0 4rem 0 4rem;
    place-items: center;
    row-gap: 20px;
    margin: 10px 15px 0px 15px;
    grid-template-columns: 1fr 1fr;
    
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}


.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img,
.img1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    max-width: 70%;
    height: 100%;
}



.para {
    line-height: 1.2rem;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    transition: transform .1s ease-in-out;
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover,
.card-5:hover,
.card-6:hover {
    transform: translate(10px, -10px);
    background: var(--third-color);
    box-shadow: -6px -6px 12px,
        6px 6px 12px var(--third-color);
}

@media only screen and (max-width: 1332px) {
    .cards {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        margin: 10px 15px 0px 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    .cards {
        display: grid;
        column-gap: 12px;
        row-gap: 12px;
        margin: 10px 15px 0px 15px;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
}

@media only screen and (max-width: 522px) {

    /*Small smartphones [325px -> 425px]*/
    .cards {
        display: grid;
        column-gap: 12px;
        row-gap: 12px;
        margin: 10px 15px 0px 15px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.para a {
    color: white;
    text-decoration: none;
}

#project-section {
    padding: 2em;
}

/* end of the projects section */


/* start of the contact section */
#Contact-Section {
   
    margin-top: 2rem;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.text-idea {
    flex-basis: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em;
    
}

.para-info {
    text-align: left;
}

.form-message {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    flex-basis: 40%;
}

#email,
#name,
#subject,
#btn {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--secondary-color);
    margin-bottom: 1rem;
    border-radius: 5px;
    color: white;
}

::placeholder {
    color: white;
}

#text-sub {
    background-color: var(--secondary-color);
    color: white;
    margin-bottom: 1rem;
    outline: none;
    border: none;
}

#btn {
    background-color: var(--attention-color);
    color: black;
}

#btn:hover {
    background-color: #eded00b4;
}

input:focus {
    /* outline: none; */
    outline: 1px solid var(--third-color);
}

.img-innovation {
    margin-top: 2px;
    width: 30px;
    height: 30px;
}

/* end of the contact section */

/* start of the footer section */
#footer-section {
    color: white;
    margin: 4rem 0 2em 0;
}

/* media queries for responsive layout */

/* Large devices (desktops, 992px and up): @media (min-width: 992px) { ... } */

@media screen and (min-width: 992px) {

    .text {
        text-align: left;
        display: flex;
        text-align: left;
        overflow: hidden;
    }

    .description {
        text-align: left;
        height: 70%;
        padding: 2em;
        flex-basis: 50%;
    }

    #home-section {
        display: flex;
        height: 80vh;
        overflow: hidden;
        justify-content: space-around;
    }

    .btn-container {
        text-align: left;
        padding: 2.4rem;
    }

    .hire,
    .CV {
        margin-top: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        flex-basis: 50%;
    }

    #visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #header{
        min-height: 20vh;
    }
    .text {
        /* border: 5px solid blueviolet; */
        text-align: left;
        display: flex;
        text-align: left;
        overflow: hidden;
    }

    .description {
        text-align: left;
        height: 60%;
        padding: 2em;
        flex-basis: 30%;
        /* border: 2px solid white; */
    }

    #home-section {
        /* border: 2px solid white; */
        display: flex;
        height: 60vh;
        overflow: hidden;
        justify-content: space-around;
    }

    .btn-container {
        text-align: left;
        /* border: 2px solid red; */
        padding: 2.4rem;
    }

    .hire,
    .CV {
        margin-top: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        position: relative;
        flex-basis: 70%;
        /* border: 3px solid red; */
    }

    #visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* for the skills section */

    .working-image {
        display: flex;
        justify-content: center;
        padding-left: 3em;
        flex-basis: 60%;
    }

    .des-about-me {

        /* border: 2px solid palevioletred; */
        padding: 1em 1em 1em 7.5em;
        margin-bottom: 1rem;
        flex-basis: 30%;
    }

    .content {
        margin-right: 1rem;
    }

    /* end of skils section */

    /* for the projects section */
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        max-width: 100%;
        height: 150px;
        object-fit: contain;
        margin-bottom: 25px;
        border-radius: 5px;
        overflow: hidden;
    }

    .cards {
        display: grid;
        column-gap: 20px;
        /* border: 5px solid yellow; */
        margin: 5px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

    .text {
        /* border: 5px solid blueviolet; */
        text-align: left;
        display: flex;
        height: 100vh;
        text-align: left;
        /* overflow: hidden; */
    }

    .description {
        text-align: left;
        height: 100%;
        /* width: 100%; */
        padding: 2em;
        /* border: 2px solid white; */
    }

    #home-section {
        /* border: 2px solid white; */
        display: flex;
        flex-direction: row;
        height: 70vh;
        overflow: hidden;
        justify-content: space-around;
    }

    .btn-container {
        text-align: left;
        /* border: 2px solid red; */
        padding: 2.4rem;
    }

    .hire,
    .CV {
        margin-top: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        flex-basis: 50%;
    }

    #visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Reverse the order of the flex items */
    #home-section {
        flex-direction: column-reverse;
    }

    /* Set width for the image container */
    .img-container {
        width: 100%;
    }



    /* for the skills section */

    /* stack the working image and the set of skills vertically */
    #about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .working-image {
        margin-bottom: 2rem;
        height: 60%;
    }

    .about-me {
        width: 100%;
        padding: 0 1rem;
    }

    /* adjust the width of the set of skills */
    .set-of-skills {
        width: 100%;
        max-width: none;
    }

    /* center the set of skills */
    .set-of-skills .row-1,
    .set-of-skills .row-2,
    .set-of-skills .row-3,
    .set-of-skills .row-4,
    .set-of-skills .row-5 {
        display: flex;
        justify-content: space-around;
    }



    /* .content{
        margin-right: 2rem;
    } */

    /* adjust the font size of the headings */
    .set-of-skills h2 {
        font-size: 1.5rem;
    }

    /* adjust the width of the range inputs */
    .set-of-skills input[type="range"] {
        width: 70%;
    }


    /* end of skils section */

    /* for the projects section */
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        max-width: 100%;
        height: 150px;
        object-fit: contain;
        margin-bottom: 25px;
        border-radius: 5px;
        overflow: hidden;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        max-width: 100%;
        height: 100%;
    }

    .cards {
        display: grid;
        column-gap: 30px;
        padding: 0 4rem 0 4rem;
        place-items: center;
        row-gap: 20px;
        margin: 10px 15px 0px 15px;
        grid-template-columns: 1fr 1fr;
        /* border: 5px solid yellow; */
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .text {
        /* border: 5px solid blueviolet; */
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: left;
        /* overflow: hidden; */
    }

    .description {
        text-align: left;
        height: 100%;
        /* width: 100%; */
        padding: 2em;
        /* border: 2px solid white; */
    }

    .hire,
    .CV {
        margin-top: 2em;
        width: 100%;
    }

    #home-section {
        /* border: 2px solid white; */
        display: flex;
        flex-direction: row;
        height: 70vh;
        overflow: hidden;
        justify-content: space-around;
    }

    .btn-container {
        text-align: left;
        /* border: 2px solid red; */
        padding: 2.4rem;
    }

    .hire,
    .CV {
        margin-top: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
    }

    #visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Reverse the order of the flex items */
    #home-section {
        flex-direction: column-reverse;
    }

    /* Set width for the image container */
    .img-container {
        width: 100%;
    }



    /* for the skills section */

    /* stack the working image and the set of skills vertically */
    #about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .working-image {
        margin-bottom: 2rem;
        height: 60%;
    }

    .about-me {
        width: 100%;
        padding: 0 1rem;
    }

    /* adjust the width of the set of skills */
    .set-of-skills {
        width: 100%;
        max-width: none;
    }

    /* center the set of skills */
    .set-of-skills .row-1,
    .set-of-skills .row-2,
    .set-of-skills .row-3,
    .set-of-skills .row-4,
    .set-of-skills .row-5 {
        display: flex;
        justify-content: space-around;
    }

    .set-of-skills h2 {
        font-size: 1.5rem;
    }

    /* adjust the width of the range inputs */
    .set-of-skills input[type="range"] {
        width: 70%;
    }


    /* end of skils section */

    /* for the projects section */
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6 {
        max-width: 100%;
        height: 150px;
        object-fit: contain;
        margin-bottom: 25px;
        border-radius: 5px;
        overflow: hidden;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--secondary-color);
        max-width: 100%;
        height: 100%;
    }

    .cards {
        display: grid;
        column-gap: 30px;
        padding: 0 4rem 0 4rem;
        place-items: center;
        row-gap: 20px;
        margin: 10px 15px 0px 15px;
        grid-template-columns: 1fr;
    }
}

/* as soon as i hits 480px */
@media only screen and (max-width: 480px) {

    .anchor-nav-links {
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    /* for sidebar */

    .sidebar-toggle {
        display: flex;
        align-items: center;
        visibility: visible;
    }

    .sidebar-header {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        color: white;
    }

    .close-btn {
        font-size: 1.2rem;
        background: transparent;
        border-color: transparent;
        color: rgb(212, 255, 0);
        cursor: pointer;
    }

    .close-btn:hover {
        color: white;
        transform: rotate(360deg);
    }

    .nav-list a {
        display: block;
        font-size: 1.5rem;
        text-transform: capitalize;
        padding: 1rem 1.5rem;
        color: white;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--third-color);
        display: grid;
        grid-template-rows: auto 1fr auto;
        row-gap: 1rem;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }

    .show-sidebar {
        transform: translateX(100%);
    }

    
    /* for the skills section */

    /* stack the working image and the set of skills vertically */
    #about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .working-image {
        margin-bottom: 2rem;
        height: 60%;
    }

    .about-me {
        width: 100%;
        padding: 0 1rem;
    }

    /* adjust the width of the set of skills */
    .set-of-skills {
        width: 100%;
        display: flex;
        justify-content: space-around;
        max-width: none;
    }

    /* center the set of skills */
    .set-of-skills .row-1,
    .set-of-skills .row-2,
    .set-of-skills .row-3,
    .set-of-skills .row-4,
    .set-of-skills .row-5 {
        display: flex;
        justify-content: space-between;
    }

    .set-of-skills h2 {
        font-size: 1.5rem;
    }

    /* adjust the width of the range inputs */
    .set-of-skills input[type="range"] {
        width: 60%;
    }

    #head{
        min-height: 5vh;
    }
    .row-1,.row-2,.row-3,.row-4,.row-5,.row-6{
        margin-left: 3rem;
    }
    /* end of skils section */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .text {
        /* border: 5px solid blueviolet; */
        text-align: left;
        display: flex;
        text-align: left;
        overflow: hidden;
    }

    .description {
        text-align: left;
        height: 70%;
        padding: 2em;
        flex-basis: 50%;
        /* border: 2px solid white; */
    }

    #home-section {
        /* border: 2px solid white; */
        display: flex;
        height: 80vh;
        overflow: hidden;
        justify-content: space-around;
    }

    .btn-container {
        text-align: left;
        /* border: 2px solid red; */
        padding: 2.4rem;
    }

    .hire,
    .CV {
        margin-top: 2em;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative;
        flex-basis: 50%;
        /* border: 3px solid red; */
    }

    #visual {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}